# Gitignore for R Project

# History files
.Rhistory
.Rapp.history

# Session Data
.RData

# User-specific files
.Ruserdata

# Generated data and output files
data/
output/

# R environment files
.Renviron
